.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
external_libs/esp-idf-lib/components/ads111x/.eil.yml
external_libs/esp-idf-lib/components/ads111x/ads111x.c
external_libs/esp-idf-lib/components/ads111x/ads111x.h
external_libs/esp-idf-lib/components/ads111x/CMakeLists.txt
external_libs/esp-idf-lib/components/ads111x/component.mk
external_libs/esp-idf-lib/components/ads111x/LICENSE
external_libs/esp-idf-lib/components/ads130e08/.eil.yml
external_libs/esp-idf-lib/components/ads130e08/ads130e08.c
external_libs/esp-idf-lib/components/ads130e08/ads130e08.h
external_libs/esp-idf-lib/components/ads130e08/CMakeLists.txt
external_libs/esp-idf-lib/components/ads130e08/component.mk
external_libs/esp-idf-lib/components/ads130e08/LICENSE
external_libs/esp-idf-lib/components/aht/.eil.yml
external_libs/esp-idf-lib/components/aht/aht.c
external_libs/esp-idf-lib/components/aht/aht.h
external_libs/esp-idf-lib/components/aht/CMakeLists.txt
external_libs/esp-idf-lib/components/aht/component.mk
external_libs/esp-idf-lib/components/aht/LICENSE
external_libs/esp-idf-lib/components/bh1750/.eil.yml
external_libs/esp-idf-lib/components/bh1750/bh1750.c
external_libs/esp-idf-lib/components/bh1750/bh1750.h
external_libs/esp-idf-lib/components/bh1750/CMakeLists.txt
external_libs/esp-idf-lib/components/bh1750/component.mk
external_libs/esp-idf-lib/components/bh1750/LICENSE
external_libs/esp-idf-lib/components/bh1900nux/.eil.yml
external_libs/esp-idf-lib/components/bh1900nux/bh1900nux.c
external_libs/esp-idf-lib/components/bh1900nux/bh1900nux.h
external_libs/esp-idf-lib/components/bh1900nux/CMakeLists.txt
external_libs/esp-idf-lib/components/bh1900nux/component.mk
external_libs/esp-idf-lib/components/bh1900nux/LICENSE
external_libs/esp-idf-lib/components/bme680/.eil.yml
external_libs/esp-idf-lib/components/bme680/bme680.c
external_libs/esp-idf-lib/components/bme680/bme680.h
external_libs/esp-idf-lib/components/bme680/CMakeLists.txt
external_libs/esp-idf-lib/components/bme680/component.mk
external_libs/esp-idf-lib/components/bme680/LICENSE
external_libs/esp-idf-lib/components/bme680/README.md
external_libs/esp-idf-lib/components/bmp180/.eil.yml
external_libs/esp-idf-lib/components/bmp180/bmp180.c
external_libs/esp-idf-lib/components/bmp180/bmp180.h
external_libs/esp-idf-lib/components/bmp180/CMakeLists.txt
external_libs/esp-idf-lib/components/bmp180/component.mk
external_libs/esp-idf-lib/components/bmp180/LICENSE
external_libs/esp-idf-lib/components/bmp280/.eil.yml
external_libs/esp-idf-lib/components/bmp280/bmp280.c
external_libs/esp-idf-lib/components/bmp280/bmp280.h
external_libs/esp-idf-lib/components/bmp280/CMakeLists.txt
external_libs/esp-idf-lib/components/bmp280/component.mk
external_libs/esp-idf-lib/components/bmp280/LICENSE
external_libs/esp-idf-lib/components/button/.eil.yml
external_libs/esp-idf-lib/components/button/button.c
external_libs/esp-idf-lib/components/button/button.h
external_libs/esp-idf-lib/components/button/CMakeLists.txt
external_libs/esp-idf-lib/components/button/component.mk
external_libs/esp-idf-lib/components/button/Kconfig
external_libs/esp-idf-lib/components/button/LICENSE
external_libs/esp-idf-lib/components/ccs811/.eil.yml
external_libs/esp-idf-lib/components/ccs811/ccs811.c
external_libs/esp-idf-lib/components/ccs811/ccs811.h
external_libs/esp-idf-lib/components/ccs811/CMakeLists.txt
external_libs/esp-idf-lib/components/ccs811/component.mk
external_libs/esp-idf-lib/components/ccs811/LICENSE
external_libs/esp-idf-lib/components/ccs811/README.md
external_libs/esp-idf-lib/components/color/.eil.yml
external_libs/esp-idf-lib/components/color/CMakeLists.txt
external_libs/esp-idf-lib/components/color/color.c
external_libs/esp-idf-lib/components/color/color.h
external_libs/esp-idf-lib/components/color/component.mk
external_libs/esp-idf-lib/components/color/hsv.h
external_libs/esp-idf-lib/components/color/LICENSE
external_libs/esp-idf-lib/components/color/rgb.h
external_libs/esp-idf-lib/components/dht/.eil.yml
external_libs/esp-idf-lib/components/dht/CMakeLists.txt
external_libs/esp-idf-lib/components/dht/component.mk
external_libs/esp-idf-lib/components/dht/dht.c
external_libs/esp-idf-lib/components/dht/dht.h
external_libs/esp-idf-lib/components/dht/LICENSE
external_libs/esp-idf-lib/components/dps310/.eil.yml
external_libs/esp-idf-lib/components/dps310/CMakeLists.txt
external_libs/esp-idf-lib/components/dps310/component.mk
external_libs/esp-idf-lib/components/dps310/Kconfig
external_libs/esp-idf-lib/components/dps310/LICENSE
external_libs/esp-idf-lib/components/dps310/include/dps310.h
external_libs/esp-idf-lib/components/dps310/priv_include/helper_i2c.h
external_libs/esp-idf-lib/components/dps310/priv_include/helper_macro.h
external_libs/esp-idf-lib/components/dps310/src/dps310.c
external_libs/esp-idf-lib/components/dps310/src/helper_i2c.c
external_libs/esp-idf-lib/components/ds1302/.eil.yml
external_libs/esp-idf-lib/components/ds1302/CMakeLists.txt
external_libs/esp-idf-lib/components/ds1302/component.mk
external_libs/esp-idf-lib/components/ds1302/ds1302.c
external_libs/esp-idf-lib/components/ds1302/ds1302.h
external_libs/esp-idf-lib/components/ds1302/LICENSE
external_libs/esp-idf-lib/components/ds1307/.eil.yml
external_libs/esp-idf-lib/components/ds1307/CMakeLists.txt
external_libs/esp-idf-lib/components/ds1307/component.mk
external_libs/esp-idf-lib/components/ds1307/ds1307.c
external_libs/esp-idf-lib/components/ds1307/ds1307.h
external_libs/esp-idf-lib/components/ds1307/LICENSE
external_libs/esp-idf-lib/components/ds18x20/.eil.yml
external_libs/esp-idf-lib/components/ds18x20/CMakeLists.txt
external_libs/esp-idf-lib/components/ds18x20/component.mk
external_libs/esp-idf-lib/components/ds18x20/ds18x20.c
external_libs/esp-idf-lib/components/ds18x20/ds18x20.h
external_libs/esp-idf-lib/components/ds18x20/LICENSE
external_libs/esp-idf-lib/components/ds3231/.eil.yml
external_libs/esp-idf-lib/components/ds3231/CMakeLists.txt
external_libs/esp-idf-lib/components/ds3231/component.mk
external_libs/esp-idf-lib/components/ds3231/ds3231.c
external_libs/esp-idf-lib/components/ds3231/ds3231.h
external_libs/esp-idf-lib/components/ds3231/LICENSE
external_libs/esp-idf-lib/components/ds3502/.eil.yml
external_libs/esp-idf-lib/components/ds3502/CMakeLists.txt
external_libs/esp-idf-lib/components/ds3502/component.mk
external_libs/esp-idf-lib/components/ds3502/ds3502.c
external_libs/esp-idf-lib/components/ds3502/ds3502.h
external_libs/esp-idf-lib/components/ds3502/LICENSE
external_libs/esp-idf-lib/components/encoder/.eil.yml
external_libs/esp-idf-lib/components/encoder/CMakeLists.txt
external_libs/esp-idf-lib/components/encoder/component.mk
external_libs/esp-idf-lib/components/encoder/encoder.c
external_libs/esp-idf-lib/components/encoder/encoder.h
external_libs/esp-idf-lib/components/encoder/Kconfig
external_libs/esp-idf-lib/components/encoder/LICENSE
external_libs/esp-idf-lib/components/esp_idf_lib_helpers/.eil.yml
external_libs/esp-idf-lib/components/esp_idf_lib_helpers/CMakeLists.txt
external_libs/esp-idf-lib/components/esp_idf_lib_helpers/component.mk
external_libs/esp-idf-lib/components/esp_idf_lib_helpers/esp_idf_lib_helpers.h
external_libs/esp-idf-lib/components/esp_idf_lib_helpers/ets_sys.h
external_libs/esp-idf-lib/components/esp_idf_lib_helpers/LICENSE
external_libs/esp-idf-lib/components/example/.eil.yml
external_libs/esp-idf-lib/components/example/CMakeLists.txt
external_libs/esp-idf-lib/components/example/component.mk
external_libs/esp-idf-lib/components/example/example.c
external_libs/esp-idf-lib/components/example/example.h
external_libs/esp-idf-lib/components/example/Kconfig
external_libs/esp-idf-lib/components/example/LICENSE
external_libs/esp-idf-lib/components/example/README.md
external_libs/esp-idf-lib/components/framebuffer/.eil.yml
external_libs/esp-idf-lib/components/framebuffer/CMakeLists.txt
external_libs/esp-idf-lib/components/framebuffer/component.mk
external_libs/esp-idf-lib/components/framebuffer/fbanimation.c
external_libs/esp-idf-lib/components/framebuffer/fbanimation.h
external_libs/esp-idf-lib/components/framebuffer/framebuffer.c
external_libs/esp-idf-lib/components/framebuffer/framebuffer.h
external_libs/esp-idf-lib/components/hd44780/.eil.yml
external_libs/esp-idf-lib/components/hd44780/CMakeLists.txt
external_libs/esp-idf-lib/components/hd44780/component.mk
external_libs/esp-idf-lib/components/hd44780/hd44780.c
external_libs/esp-idf-lib/components/hd44780/hd44780.h
external_libs/esp-idf-lib/components/hd44780/LICENSE
external_libs/esp-idf-lib/components/hdc1000/.eil.yml
external_libs/esp-idf-lib/components/hdc1000/CMakeLists.txt
external_libs/esp-idf-lib/components/hdc1000/component.mk
external_libs/esp-idf-lib/components/hdc1000/hdc1000.c
external_libs/esp-idf-lib/components/hdc1000/hdc1000.h
external_libs/esp-idf-lib/components/hdc1000/LICENSE
external_libs/esp-idf-lib/components/hmc5883l/.eil.yml
external_libs/esp-idf-lib/components/hmc5883l/CMakeLists.txt
external_libs/esp-idf-lib/components/hmc5883l/component.mk
external_libs/esp-idf-lib/components/hmc5883l/hmc5883l.c
external_libs/esp-idf-lib/components/hmc5883l/hmc5883l.h
external_libs/esp-idf-lib/components/hmc5883l/Kconfig
external_libs/esp-idf-lib/components/hmc5883l/LICENSE
external_libs/esp-idf-lib/components/ht16k33/.eil.yml
external_libs/esp-idf-lib/components/ht16k33/CMakeLists.txt
external_libs/esp-idf-lib/components/ht16k33/component.mk
external_libs/esp-idf-lib/components/ht16k33/ht16k33.c
external_libs/esp-idf-lib/components/ht16k33/ht16k33.h
external_libs/esp-idf-lib/components/ht16k33/LICENSE
external_libs/esp-idf-lib/components/ht16k33/README.md
external_libs/esp-idf-lib/components/hts221/.eil.yml
external_libs/esp-idf-lib/components/hts221/CMakeLists.txt
external_libs/esp-idf-lib/components/hts221/component.mk
external_libs/esp-idf-lib/components/hts221/hts221.c
external_libs/esp-idf-lib/components/hts221/hts221.h
external_libs/esp-idf-lib/components/hts221/LICENSE
external_libs/esp-idf-lib/components/hx711/.eil.yml
external_libs/esp-idf-lib/components/hx711/CMakeLists.txt
external_libs/esp-idf-lib/components/hx711/component.mk
external_libs/esp-idf-lib/components/hx711/hx711.c
external_libs/esp-idf-lib/components/hx711/hx711.h
external_libs/esp-idf-lib/components/hx711/LICENSE
external_libs/esp-idf-lib/components/i2cdev/.eil.yml
external_libs/esp-idf-lib/components/i2cdev/CMakeLists.txt
external_libs/esp-idf-lib/components/i2cdev/component.mk
external_libs/esp-idf-lib/components/i2cdev/i2cdev.c
external_libs/esp-idf-lib/components/i2cdev/i2cdev.h
external_libs/esp-idf-lib/components/i2cdev/Kconfig
external_libs/esp-idf-lib/components/i2cdev/LICENSE
external_libs/esp-idf-lib/components/ina219/.eil.yml
external_libs/esp-idf-lib/components/ina219/CMakeLists.txt
external_libs/esp-idf-lib/components/ina219/component.mk
external_libs/esp-idf-lib/components/ina219/ina219.c
external_libs/esp-idf-lib/components/ina219/ina219.h
external_libs/esp-idf-lib/components/ina219/LICENSE
external_libs/esp-idf-lib/components/ina260/.eil.yml
external_libs/esp-idf-lib/components/ina260/CMakeLists.txt
external_libs/esp-idf-lib/components/ina260/component.mk
external_libs/esp-idf-lib/components/ina260/ina260.c
external_libs/esp-idf-lib/components/ina260/ina260.h
external_libs/esp-idf-lib/components/ina260/LICENSE
external_libs/esp-idf-lib/components/ina3221/.eil.yml
external_libs/esp-idf-lib/components/ina3221/CMakeLists.txt
external_libs/esp-idf-lib/components/ina3221/component.mk
external_libs/esp-idf-lib/components/ina3221/ina3221.c
external_libs/esp-idf-lib/components/ina3221/ina3221.h
external_libs/esp-idf-lib/components/ina3221/LICENSE
external_libs/esp-idf-lib/components/lc709203f/.eil.yml
external_libs/esp-idf-lib/components/lc709203f/CMakeLists.txt
external_libs/esp-idf-lib/components/lc709203f/component.mk
external_libs/esp-idf-lib/components/lc709203f/lc709203f.c
external_libs/esp-idf-lib/components/lc709203f/lc709203f.h
external_libs/esp-idf-lib/components/lc709203f/LICENSE
external_libs/esp-idf-lib/components/led_strip/.eil.yml
external_libs/esp-idf-lib/components/led_strip/CMakeLists.txt
external_libs/esp-idf-lib/components/led_strip/component.mk
external_libs/esp-idf-lib/components/led_strip/Kconfig
external_libs/esp-idf-lib/components/led_strip/led_strip.c
external_libs/esp-idf-lib/components/led_strip/led_strip.h
external_libs/esp-idf-lib/components/led_strip/LICENSE
external_libs/esp-idf-lib/components/led_strip/README.md
external_libs/esp-idf-lib/components/led_strip_spi/.eil.yml
external_libs/esp-idf-lib/components/led_strip_spi/CMakeLists.txt
external_libs/esp-idf-lib/components/led_strip_spi/component.mk
external_libs/esp-idf-lib/components/led_strip_spi/Kconfig
external_libs/esp-idf-lib/components/led_strip_spi/led_strip_spi_esp32.h
external_libs/esp-idf-lib/components/led_strip_spi/led_strip_spi_esp8266.h
external_libs/esp-idf-lib/components/led_strip_spi/led_strip_spi_sk9822.c
external_libs/esp-idf-lib/components/led_strip_spi/led_strip_spi_sk9822.h
external_libs/esp-idf-lib/components/led_strip_spi/led_strip_spi.c
external_libs/esp-idf-lib/components/led_strip_spi/led_strip_spi.h
external_libs/esp-idf-lib/components/led_strip_spi/LICENSE
external_libs/esp-idf-lib/components/led_strip_spi/README.md
external_libs/esp-idf-lib/components/lib8tion/.eil.yml
external_libs/esp-idf-lib/components/lib8tion/CMakeLists.txt
external_libs/esp-idf-lib/components/lib8tion/component.mk
external_libs/esp-idf-lib/components/lib8tion/lib8tion.c
external_libs/esp-idf-lib/components/lib8tion/lib8tion.h
external_libs/esp-idf-lib/components/lib8tion/LICENSE
external_libs/esp-idf-lib/components/lib8tion/lib8tion/math8.h
external_libs/esp-idf-lib/components/lib8tion/lib8tion/random8.h
external_libs/esp-idf-lib/components/lib8tion/lib8tion/scale8.h
external_libs/esp-idf-lib/components/lib8tion/lib8tion/trig8.h
external_libs/esp-idf-lib/components/lm75/.eil.yml
external_libs/esp-idf-lib/components/lm75/CMakeLists.txt
external_libs/esp-idf-lib/components/lm75/component.mk
external_libs/esp-idf-lib/components/lm75/LICENSE
external_libs/esp-idf-lib/components/lm75/lm75.c
external_libs/esp-idf-lib/components/lm75/lm75.h
external_libs/esp-idf-lib/components/ls7366r/.eil.yml
external_libs/esp-idf-lib/components/ls7366r/CMakeLists.txt
external_libs/esp-idf-lib/components/ls7366r/component.mk
external_libs/esp-idf-lib/components/ls7366r/LICENSE
external_libs/esp-idf-lib/components/ls7366r/ls7366r.c
external_libs/esp-idf-lib/components/ls7366r/ls7366r.h
external_libs/esp-idf-lib/components/max31725/.eil.yml
external_libs/esp-idf-lib/components/max31725/CMakeLists.txt
external_libs/esp-idf-lib/components/max31725/component.mk
external_libs/esp-idf-lib/components/max31725/LICENSE
external_libs/esp-idf-lib/components/max31725/max31725.c
external_libs/esp-idf-lib/components/max31725/max31725.h
external_libs/esp-idf-lib/components/max31855/.eil.yml
external_libs/esp-idf-lib/components/max31855/CMakeLists.txt
external_libs/esp-idf-lib/components/max31855/component.mk
external_libs/esp-idf-lib/components/max31855/LICENSE
external_libs/esp-idf-lib/components/max31855/max31855.c
external_libs/esp-idf-lib/components/max31855/max31855.h
external_libs/esp-idf-lib/components/max31865/.eil.yml
external_libs/esp-idf-lib/components/max31865/CMakeLists.txt
external_libs/esp-idf-lib/components/max31865/component.mk
external_libs/esp-idf-lib/components/max31865/LICENSE
external_libs/esp-idf-lib/components/max31865/max31865.c
external_libs/esp-idf-lib/components/max31865/max31865.h
external_libs/esp-idf-lib/components/max7219/.eil.yml
external_libs/esp-idf-lib/components/max7219/CMakeLists.txt
external_libs/esp-idf-lib/components/max7219/component.mk
external_libs/esp-idf-lib/components/max7219/LICENSE
external_libs/esp-idf-lib/components/max7219/max7219_priv.h
external_libs/esp-idf-lib/components/max7219/max7219.c
external_libs/esp-idf-lib/components/max7219/max7219.h
external_libs/esp-idf-lib/components/mcp23008/.eil.yml
external_libs/esp-idf-lib/components/mcp23008/CMakeLists.txt
external_libs/esp-idf-lib/components/mcp23008/component.mk
external_libs/esp-idf-lib/components/mcp23008/LICENSE
external_libs/esp-idf-lib/components/mcp23008/mcp23008.c
external_libs/esp-idf-lib/components/mcp23008/mcp23008.h
external_libs/esp-idf-lib/components/mcp23x17/.eil.yml
external_libs/esp-idf-lib/components/mcp23x17/CMakeLists.txt
external_libs/esp-idf-lib/components/mcp23x17/component.mk
external_libs/esp-idf-lib/components/mcp23x17/Kconfig
external_libs/esp-idf-lib/components/mcp23x17/LICENSE
external_libs/esp-idf-lib/components/mcp23x17/mcp23x17.c
external_libs/esp-idf-lib/components/mcp23x17/mcp23x17.h
external_libs/esp-idf-lib/components/mcp342x/.eil.yml
external_libs/esp-idf-lib/components/mcp342x/CMakeLists.txt
external_libs/esp-idf-lib/components/mcp342x/component.mk
external_libs/esp-idf-lib/components/mcp342x/LICENSE
external_libs/esp-idf-lib/components/mcp342x/mcp342x.c
external_libs/esp-idf-lib/components/mcp342x/mcp342x.h
external_libs/esp-idf-lib/components/mcp4725/.eil.yml
external_libs/esp-idf-lib/components/mcp4725/CMakeLists.txt
external_libs/esp-idf-lib/components/mcp4725/component.mk
external_libs/esp-idf-lib/components/mcp4725/LICENSE
external_libs/esp-idf-lib/components/mcp4725/mcp4725.c
external_libs/esp-idf-lib/components/mcp4725/mcp4725.h
external_libs/esp-idf-lib/components/mcp960x/.eil.yml
external_libs/esp-idf-lib/components/mcp960x/CMakeLists.txt
external_libs/esp-idf-lib/components/mcp960x/component.mk
external_libs/esp-idf-lib/components/mcp960x/LICENSE
external_libs/esp-idf-lib/components/mcp960x/mcp960x.c
external_libs/esp-idf-lib/components/mcp960x/mcp960x.h
external_libs/esp-idf-lib/components/mcp9808/.eil.yml
external_libs/esp-idf-lib/components/mcp9808/CMakeLists.txt
external_libs/esp-idf-lib/components/mcp9808/component.mk
external_libs/esp-idf-lib/components/mcp9808/LICENSE
external_libs/esp-idf-lib/components/mcp9808/mcp9808.c
external_libs/esp-idf-lib/components/mcp9808/mcp9808.h
external_libs/esp-idf-lib/components/mhz19b/.eil.yml
external_libs/esp-idf-lib/components/mhz19b/CMakeLists.txt
external_libs/esp-idf-lib/components/mhz19b/component.mk
external_libs/esp-idf-lib/components/mhz19b/LICENSE
external_libs/esp-idf-lib/components/mhz19b/mhz19b.c
external_libs/esp-idf-lib/components/mhz19b/mhz19b.h
external_libs/esp-idf-lib/components/mhz19b/README.md
external_libs/esp-idf-lib/components/ms5611/.eil.yml
external_libs/esp-idf-lib/components/ms5611/CMakeLists.txt
external_libs/esp-idf-lib/components/ms5611/component.mk
external_libs/esp-idf-lib/components/ms5611/LICENSE
external_libs/esp-idf-lib/components/ms5611/ms5611.c
external_libs/esp-idf-lib/components/ms5611/ms5611.h
external_libs/esp-idf-lib/components/noise/.eil.yml
external_libs/esp-idf-lib/components/noise/CMakeLists.txt
external_libs/esp-idf-lib/components/noise/component.mk
external_libs/esp-idf-lib/components/noise/LICENSE
external_libs/esp-idf-lib/components/noise/noise.c
external_libs/esp-idf-lib/components/noise/noise.h
external_libs/esp-idf-lib/components/onewire/.eil.yml
external_libs/esp-idf-lib/components/onewire/CMakeLists.txt
external_libs/esp-idf-lib/components/onewire/component.mk
external_libs/esp-idf-lib/components/onewire/Kconfig
external_libs/esp-idf-lib/components/onewire/LICENSE
external_libs/esp-idf-lib/components/onewire/onewire.c
external_libs/esp-idf-lib/components/onewire/onewire.h
external_libs/esp-idf-lib/components/pca9557/.eil.yml
external_libs/esp-idf-lib/components/pca9557/CMakeLists.txt
external_libs/esp-idf-lib/components/pca9557/component.mk
external_libs/esp-idf-lib/components/pca9557/LICENSE
external_libs/esp-idf-lib/components/pca9557/pca9557.c
external_libs/esp-idf-lib/components/pca9557/pca9557.h
external_libs/esp-idf-lib/components/pca9685/.eil.yml
external_libs/esp-idf-lib/components/pca9685/CMakeLists.txt
external_libs/esp-idf-lib/components/pca9685/component.mk
external_libs/esp-idf-lib/components/pca9685/LICENSE
external_libs/esp-idf-lib/components/pca9685/pca9685.c
external_libs/esp-idf-lib/components/pca9685/pca9685.h
external_libs/esp-idf-lib/components/pcf8563/.eil.yml
external_libs/esp-idf-lib/components/pcf8563/CMakeLists.txt
external_libs/esp-idf-lib/components/pcf8563/component.mk
external_libs/esp-idf-lib/components/pcf8563/LICENSE
external_libs/esp-idf-lib/components/pcf8563/pcf8563.c
external_libs/esp-idf-lib/components/pcf8563/pcf8563.h
external_libs/esp-idf-lib/components/pcf8574/.eil.yml
external_libs/esp-idf-lib/components/pcf8574/CMakeLists.txt
external_libs/esp-idf-lib/components/pcf8574/component.mk
external_libs/esp-idf-lib/components/pcf8574/LICENSE
external_libs/esp-idf-lib/components/pcf8574/pcf8574.c
external_libs/esp-idf-lib/components/pcf8574/pcf8574.h
external_libs/esp-idf-lib/components/pcf8575/.eil.yml
external_libs/esp-idf-lib/components/pcf8575/CMakeLists.txt
external_libs/esp-idf-lib/components/pcf8575/component.mk
external_libs/esp-idf-lib/components/pcf8575/LICENSE
external_libs/esp-idf-lib/components/pcf8575/pcf8575.c
external_libs/esp-idf-lib/components/pcf8575/pcf8575.h
external_libs/esp-idf-lib/components/pcf8591/.eil.yml
external_libs/esp-idf-lib/components/pcf8591/CMakeLists.txt
external_libs/esp-idf-lib/components/pcf8591/component.mk
external_libs/esp-idf-lib/components/pcf8591/LICENSE
external_libs/esp-idf-lib/components/pcf8591/pcf8591.c
external_libs/esp-idf-lib/components/pcf8591/pcf8591.h
external_libs/esp-idf-lib/components/qmc5883l/.eil.yml
external_libs/esp-idf-lib/components/qmc5883l/CMakeLists.txt
external_libs/esp-idf-lib/components/qmc5883l/component.mk
external_libs/esp-idf-lib/components/qmc5883l/LICENSE
external_libs/esp-idf-lib/components/qmc5883l/qmc5883l.c
external_libs/esp-idf-lib/components/qmc5883l/qmc5883l.h
external_libs/esp-idf-lib/components/rda5807m/.eil.yml
external_libs/esp-idf-lib/components/rda5807m/CMakeLists.txt
external_libs/esp-idf-lib/components/rda5807m/component.mk
external_libs/esp-idf-lib/components/rda5807m/LICENSE
external_libs/esp-idf-lib/components/rda5807m/rda5807m.c
external_libs/esp-idf-lib/components/rda5807m/rda5807m.h
external_libs/esp-idf-lib/components/scd30/.eil.yml
external_libs/esp-idf-lib/components/scd30/CMakeLists.txt
external_libs/esp-idf-lib/components/scd30/component.mk
external_libs/esp-idf-lib/components/scd30/LICENSE
external_libs/esp-idf-lib/components/scd30/scd30.c
external_libs/esp-idf-lib/components/scd30/scd30.h
external_libs/esp-idf-lib/components/scd4x/.eil.yml
external_libs/esp-idf-lib/components/scd4x/CMakeLists.txt
external_libs/esp-idf-lib/components/scd4x/component.mk
external_libs/esp-idf-lib/components/scd4x/LICENSE
external_libs/esp-idf-lib/components/scd4x/scd4x.c
external_libs/esp-idf-lib/components/scd4x/scd4x.h
external_libs/esp-idf-lib/components/sgp40/.eil.yml
external_libs/esp-idf-lib/components/sgp40/CMakeLists.txt
external_libs/esp-idf-lib/components/sgp40/component.mk
external_libs/esp-idf-lib/components/sgp40/LICENSE
external_libs/esp-idf-lib/components/sgp40/sensirion_voc_algorithm.c
external_libs/esp-idf-lib/components/sgp40/sensirion_voc_algorithm.h
external_libs/esp-idf-lib/components/sgp40/sgp40.c
external_libs/esp-idf-lib/components/sgp40/sgp40.h
external_libs/esp-idf-lib/components/sht3x/.eil.yml
external_libs/esp-idf-lib/components/sht3x/CMakeLists.txt
external_libs/esp-idf-lib/components/sht3x/component.mk
external_libs/esp-idf-lib/components/sht3x/LICENSE
external_libs/esp-idf-lib/components/sht3x/README.md
external_libs/esp-idf-lib/components/sht3x/sht3x.c
external_libs/esp-idf-lib/components/sht3x/sht3x.h
external_libs/esp-idf-lib/components/sht4x/.eil.yml
external_libs/esp-idf-lib/components/sht4x/CMakeLists.txt
external_libs/esp-idf-lib/components/sht4x/component.mk
external_libs/esp-idf-lib/components/sht4x/LICENSE
external_libs/esp-idf-lib/components/sht4x/sht4x.c
external_libs/esp-idf-lib/components/sht4x/sht4x.h
external_libs/esp-idf-lib/components/si7021/.eil.yml
external_libs/esp-idf-lib/components/si7021/CMakeLists.txt
external_libs/esp-idf-lib/components/si7021/component.mk
external_libs/esp-idf-lib/components/si7021/LICENSE
external_libs/esp-idf-lib/components/si7021/si7021.c
external_libs/esp-idf-lib/components/si7021/si7021.h
external_libs/esp-idf-lib/components/sts21/.eil.yml
external_libs/esp-idf-lib/components/sts21/CMakeLists.txt
external_libs/esp-idf-lib/components/sts21/component.mk
external_libs/esp-idf-lib/components/sts21/LICENSE
external_libs/esp-idf-lib/components/sts21/sts21.c
external_libs/esp-idf-lib/components/sts21/sts21.h
external_libs/esp-idf-lib/components/tca9548/.eil.yml
external_libs/esp-idf-lib/components/tca9548/CMakeLists.txt
external_libs/esp-idf-lib/components/tca9548/component.mk
external_libs/esp-idf-lib/components/tca9548/LICENSE
external_libs/esp-idf-lib/components/tca9548/tca9548.c
external_libs/esp-idf-lib/components/tca9548/tca9548.h
external_libs/esp-idf-lib/components/tca95x5/.eil.yml
external_libs/esp-idf-lib/components/tca95x5/CMakeLists.txt
external_libs/esp-idf-lib/components/tca95x5/component.mk
external_libs/esp-idf-lib/components/tca95x5/LICENSE
external_libs/esp-idf-lib/components/tca95x5/tca95x5.c
external_libs/esp-idf-lib/components/tca95x5/tca95x5.h
external_libs/esp-idf-lib/components/tda74xx/.eil.yml
external_libs/esp-idf-lib/components/tda74xx/CMakeLists.txt
external_libs/esp-idf-lib/components/tda74xx/component.mk
external_libs/esp-idf-lib/components/tda74xx/LICENSE
external_libs/esp-idf-lib/components/tda74xx/tda74xx.c
external_libs/esp-idf-lib/components/tda74xx/tda74xx.h
external_libs/esp-idf-lib/components/tsl2561/.eil.yml
external_libs/esp-idf-lib/components/tsl2561/CMakeLists.txt
external_libs/esp-idf-lib/components/tsl2561/component.mk
external_libs/esp-idf-lib/components/tsl2561/LICENSE
external_libs/esp-idf-lib/components/tsl2561/tsl2561.c
external_libs/esp-idf-lib/components/tsl2561/tsl2561.h
external_libs/esp-idf-lib/components/tsl2591/.eil.yml
external_libs/esp-idf-lib/components/tsl2591/CMakeLists.txt
external_libs/esp-idf-lib/components/tsl2591/component.mk
external_libs/esp-idf-lib/components/tsl2591/LICENSE
external_libs/esp-idf-lib/components/tsl2591/tsl2591.c
external_libs/esp-idf-lib/components/tsl2591/tsl2591.h
external_libs/esp-idf-lib/components/tsl4531/.eil.yml
external_libs/esp-idf-lib/components/tsl4531/CMakeLists.txt
external_libs/esp-idf-lib/components/tsl4531/component.mk
external_libs/esp-idf-lib/components/tsl4531/LICENSE
external_libs/esp-idf-lib/components/tsl4531/tsl4531.c
external_libs/esp-idf-lib/components/tsl4531/tsl4531.h
external_libs/esp-idf-lib/components/tsys01/.eil.yml
external_libs/esp-idf-lib/components/tsys01/CMakeLists.txt
external_libs/esp-idf-lib/components/tsys01/component.mk
external_libs/esp-idf-lib/components/tsys01/LICENSE
external_libs/esp-idf-lib/components/tsys01/tsys01.c
external_libs/esp-idf-lib/components/tsys01/tsys01.h
external_libs/esp-idf-lib/components/ultrasonic/.eil.yml
external_libs/esp-idf-lib/components/ultrasonic/CMakeLists.txt
external_libs/esp-idf-lib/components/ultrasonic/component.mk
external_libs/esp-idf-lib/components/ultrasonic/LICENSE
external_libs/esp-idf-lib/components/ultrasonic/ultrasonic.c
external_libs/esp-idf-lib/components/ultrasonic/ultrasonic.h
external_libs/esp-idf-lib/components/wiegand/.eil.yml
external_libs/esp-idf-lib/components/wiegand/CMakeLists.txt
external_libs/esp-idf-lib/components/wiegand/component.mk
external_libs/esp-idf-lib/components/wiegand/LICENSE
external_libs/esp-idf-lib/components/wiegand/wiegand.c
external_libs/esp-idf-lib/components/wiegand/wiegand.h
